.example-card {
    max-width: 400px;
  }
  
  .example-header-image-true {
    background-color: red;
    background-size: cover;
  }
  .example-header-image-false {
    background-color: green;
    background-size: cover;
  }
  